<mat-card>
    <mat-card-title>Inicio de sesión</mat-card-title>
    <mat-card-content>
        <p>
            <mat-form-field>
                <input type="text" [(ngModel)]="email" matInput placeholder="Email">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input type="password" [(ngModel)]="password" matInput placeholder="Contraseña">
            </mat-form-field>
        </p>
        <div>
            <button (click)="login()" mat-raised-button>Iniciar de sesión</button>
        </div>
    </mat-card-content>
</mat-card>